body{
    overflow-x: hidden;
}

.landing{
    transition: 400ms;
    animation: fadeIn 200ms ease-in forwards;
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-cont-si{
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px 0px rgba(187, 187, 187, 0.75);
    max-width: 28rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateZ(1);
    backface-visibility: hidden;
    transition: 400ms;
    animation: fadeIn 200ms ease-in forwards;
}

.form-cont{
    animation: fadeIn 200ms ease-in forwards;
}

.form-cont-si:focus-within{
    box-shadow: 0px 0px 10px 0px rgba(116, 116, 116, 0.75);
    transition: 400ms;
}

.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

#form-logo{
    width: 8rem;
    height: auto;
    user-select: none;
    margin-bottom: 1rem;
}



.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.2rem;
}

.form-group label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.2rem;
    color: var(--white);
    font-size: 0.8rem;
}

.form-group input{
    max-width: 40rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
    font-family: inherit;
}

::placeholder {
    user-select: none;
}

.form-group input:focus {
    outline: none !important;
    transition: 500ms;
    border: 1px solid var(--bwblue);
}
/*
.form-group button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.7rem 5rem;
    border: 1px solid #000;
    border-radius: 0.4rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    appearance: button;
    
    transition: 200ms;
}



.form-group button:hover{
    background: rgb(42, 74, 255);
    border: 1px solid rgb(42, 74, 255);
    color: white;
    text-shadow: 2px 2px#000;
    box-shadow: 2px 2px#000;
    transition: 400ms;
}

*/

#btn-si{
    max-width: 15rem;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}